:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ---------------------- */

.myhomepage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(247, 248, 248);
  /* border: 2px solid blue; */
  height: 93vh;
  width: 100vw;
  font-size: 5vw;
  font-weight: bold;
  margin-right: 2vw;
  background-color: black;
}
.myhomepage pre{
  min-width: 300px;
  min-height: 150px;
  /* border: 2px solid blueviolet; */
}
.myImage {
  height: 30vw;
  width: 30vw;
  min-width: 250px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  /* border: 2px solid; */
}
.myImage img{
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid rgb(34, 208, 153);
}
.nav{
  padding: 2vh;
  height: 7vh;
  min-width: 400px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: absolute; */
  /* right: 5vw; */
  list-style: none;
  font-size: 2vw;
  font-weight: bold;
  /* border: 2px solid red;   */
  
  background-color: black;
}

.nav li{
  color: aqua;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
 /* border: 2px solid white;
  border-radius: 10%;   */
}


.project{
  height: 100vh;
  width: 100vw;
  border: 2px solid;
  display: flex;
 /* flex-wrap: wrap;*/
  align-items: center;
  justify-content: center;
  background-color: black;
}
.threedskill{
  height: 100vh;
  width: 100vw;
  border: 2px solid;
  display: flex;
 /* flex-wrap: wrap;*/
  align-items: center;
  justify-content: center;
  background-color: black;
}

.project .project1{
  color: white;
  height: 100%;
  background-color: black;
 /* min-width: 250px;*/
  width: 50%;
  /* border: 2px solid ; */
  padding: 3%;
}
.project .project1 p{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  padding: 3%;
}
.project .project1 p button{
  width: 20%;
  /* padding: 1%; */
}

.project .iot_project{
  height: 100%;
 /* min-width: 400px;*/
  width: 50%;
  flex-direction: column;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding: 1%; */
  font-size: x-large;
  border: 2px solid;
  padding: 3%;
}
.project .iot_project div{
  margin: 2% 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border: 2px solid ;
}

.project .gallery{
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  /* border: 5px solid green; */
}

.h_mob{

  font-size: 5vh;
}

.mob_nav{
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7vh;
  font-weight: bold;
  color: aqua;
  background-color: black;
}

li{
  list-style: none;

}

.skill{
  height: 100%;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.skill button{
  width: 50%;
  height: 8%;
  margin: 2% 25%;
}

.project3{
  height: 100vw;
  width: 100vh;
  padding: 3%;
}
.project3 iframe{
  height: 60%;
  width: 80%;
}

.mob_project_page1{
  height: 170vh;
  width: 100vw;
  background-color: black;
  /* border: 2px solid red; */
}

.mob_project_page1 .game_dis{
  padding: 5vw;
}
.mob_iot_project{
  color: white;
  border: 2px solid white;
  margin-top: 10vh;
  padding: 3%;
  height: 90vh;
  width: 100vw;
}
.mob_iot_project p{
  font-size: x-large;
  margin: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
.mob_tic_tac_toe{
  height: 40%;
  color: white;
  border: 2px solid white;
}
.mob_tic_tac_toe iframe{
  border: none;
}


.card{
  margin: 5vh;
  padding: 3vh;
  height: 20vh;
  width: 50vw;
  font-size: 1rem;
  background-color: rgba(70, 78, 78, 0.475);
}

.myskill{
  height: 100px;
  width:100px;
  box-shadow: 10px 10px 10px blue;
}

.mob_skill{
  width: 100vw;
  height: 60vh;
  /* border: 2px solid red; */
  padding: 1%;
  background-color: black;
}

.mob_skill button{
    height: 10%;
    width: 90%;
    margin: 5%;
}
.mob_iot_project .gallery{
  height: 70%;
  width: 100%;
}
.mob_iot_project .my_iot_p{
  padding: 1%;
  margin: 5%;
  border: 2px blue;
}
.loading{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: black;
}