.search_page{
    border: 2px solid;
    height: 100vh;
    width: 100vw;
    background-color: #222;
}
.mob_search_page{
    border: 2px solid;
    height: 55vh;
    width: 100vw;
    background-color: #222;
}
.monitor {
    margin-top: 2%;
    margin-left: 30%;
    width: 37%;
    height: 45%;
    background: #222;
    /* border: 20px solid #333; */
    border: 8px solid #545252;
    border-radius: 5px;
    position: relative;
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); */
}

.mob_monitor {
    font-size: 3%;
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
    height: 25%;
    background: #222;
    border: 8px solid #545252;
    border-radius: 5px;
    position: relative;
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); */
}
.screen {
    color: white;
    width: 100%;
    height: 100%;
    background: #000;
    /* border-radius: 10px; */
    overflow: hidden;
}
.search_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    font-size: 5vh;
    /* border: 2px solid; */
}

.search_active{
    background-color: aqua;
}

.mycanvas{
    height: 60%;
    position: relative;
    bottom: 18%;
}
.mob_mycanvas{
    /* border: 2px solid red; */
    height: 60%;
    /* width: 100%; */
}